from argparse import ArgumentParser
from utils import logger, parse_input
from typing import Iterator


def {{part_2_function}}({{doc_name}}: Iterator[str]) -> int:
    accumulator = 0

    for line in {{doc_name}}:
        pass

    return accumulator


def {{part_1_function}}({{doc_name}}: Iterator[str]) -> int:
    accumulator = 0

    for line in {{doc_name}}:
        pass

    return accumulator


arg_parser = ArgumentParser('python -m {{year}}.{{day}}.main', description="Advent of Code {{ year }} Day {{ day }}")
arg_parser.add_argument('input_path', help="Path to the input file")
arg_parser.add_argument('part', type=int, default=1, help="Which part of the challenge to apply.")

if __name__ == '__main__':
    argus = arg_parser.parse_args()

    {{doc_name}} = parse_input(argus.input_path)
    if argus.part == 1:
        answer = {{part_1_function}}({{doc_name}})
    else:
        answer = {{part_2_function}}({{doc_name}})

    logger.debug('')

    print(f"answer:\n{answer}")
